### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Log dir
log_dir/**

### .idea folder
.idea/**

### jypiter stuff
!/colab/log_dir/
!/colab/.ipynb_checkpoints/

### weight and biases stuff
src/wandb/**
dist/
build/
mambrl.egg-info/

*.pt
